extends layout

block vars
 - var title = 'Main'

block content
  .web_title
    h1 90's Internet
  .main_page
    p build a 90s style chatroom using node.js, socket.io, express, mongodb, and mongoose
    p In this assignment you will be creating a real-time social networking application. Again, this will be a web app that you will design and create from the ground up using the specified stack. Try to take what you have learned from Project 1 and use it to make this project more manageable and easier to tackle.

    p This application should enable logged in users to chat back and forth with whomever else is logged in. Effectively, this should resemble the old 90’s style of chat rooms that used to be so prolific on the internet. Everyone that is logged in should see everyone else’s messages, and should be able to respond to the entire connected group. If you choose, you may implement rooms using Socket.IO’s rooms capability and allow your users to create and join new rooms. If you do this, you will need to show all available rooms and allow for the creation of a new room. Once the link is clicked on, the user should be taken to that room. At that point, the only messages that are seen are from those that are in the same room. Likewise, any responses should only be sent to members of the room.

    p Your users should be allowed to login and log off, as well as register to create an account. When a new account is created, just add it to the database – don’t worry about sending out emails for confirmation or anything like that. Once logged in, the user should be taken directly to the chat room.
    
    h4 Zachary Fullmer
    h4 Parker Jensen
    h4 Cade Kynaston
    h4 Bobby Loock
    h4 Zachariah Scovill
    h4 Glen Taylor