extends layout

block content
  .main_page
    img.chatapp#buller(src = "/pics/90schatapp.jpg")
    h2 We built a 90s style chat application using node.js, socket.io, express, mongodb, and mongoose

    h2 This application enables users to log in and chat back and forth with whomever else is logged in. Effectively, this resembles the old 90’s style of chat rooms that used to be so prolific on the internet. Everyone that is logged in sees everyone else’s messages, and is be able to respond to the entire connected group. To use the chatroom all you need to do is register (if you haven't yet) or login with your existing credentials. Once logged in you will be taken to the chat page where you will be able to chat with everyone. When you are done you can logout by clicking the button in the upper right hand corner. 

    h2 Users are allowed to login and log off, after registering with an account. When a new account is created, we add it to the database and one logged in the user is taken directly to the chat room.

    .form-style-8
      h3.created Created by:
      h4.creator Zachary Fullmer
      h4.creator Parker Jensen
      h4.creator Cade Kynaston
      h4.creator Bobby Loock
      h4.creator Zachariah Scovill
      h4.creator Glen Taylor
