extends layout

block content
  .main_page
    img.chatapp#buller(src = "/pics/90schatapp.jpg")
    h2 We built a 90s style chat application using node.js, socket.io, express, mongodb, and mongoose

    h2 This application enables users to log in and chat back and forth with whomever else is logged in. Effectively, this resembles the old 90’s style of chat rooms that used to be so prolific on the internet. Everyone that is logged in sees everyone else’s messages, and is be able to respond to the entire connected group. We are working on implementing rooms using Socket.IO’s rooms capability which will allow users to create and join new rooms. We plan to show all available rooms and allow for the creation of a new room. Once the link is clicked on, the user is taken to that room. At that point, the only messages that are seen are from those that are in the same room. Likewise, any responses are only sent to members of the room.

    h2 Users are allowed to login and log off, after registering with an account. When a new account is created, we add it to the database and one logged in the user is taken directly to the chat room.

    .form-style-8
      h3.created Created by:
      h4.creator Zachary Fullmer
      h4.creator Parker Jensen
      h4.creator Cade Kynaston
      h4.creator Bobby Loock
      h4.creator Zachariah Scovill
      h4.creator Glen Taylor